//
//  Secrets.xcconfig
//  GroceryGenius
//
//  Created by Lokeshwar Reddy Malli reddy on 11/23/25.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project




OPENAI_API_KEY = ***********
