//
//  Secrets.xcconfig
//  GroceryGenius
//
//  Created by Lokeshwar Reddy Malli reddy on 11/23/25.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project




OPENAI_API_KEY = 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
